@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #cfd1e1;
  overflow: hidden
}

.sbx {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 60px;
  height: 50px;
  transition: all 400ms;
}
.sbx:hover {
  width: 400px;
}
.sbx::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(#fff, #fff, #e3e3e3);
  filter: blur(1px);
  z-index: 1;
}
.sbx::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 100%;
  top: 0;
  right: -1px;
  background: #9d9d9d;
  filter: blur(1px);
  z-index: 1;
}
.sbx input {
  position: relative;
  padding: 10px 25px;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1.1em;
  color: #555;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1), 15px 15px 15px rgba(0, 0, 0, 0.1), 20px 20px 15px rgba(0, 0, 0, 0.1), 30px 30px 15px rgba(0, 0, 0, 0.1), inset 1px 1px 2px #fff;
  background: linear-gradient(#dbdae1, #a3aaba);
}
.sbx input::placeholder,
.sbx input {
  color: transparent;
}
.sbx:hover input::placeholder,
.sbx input {
  color: #555;
}
.sdw {
  position: absolute;
  width: calc(100% + 50px);
  height: 300px;
  top: 0;
  left: -50px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.1), transparent, transparent);
  transform: skew(45deg);
  transform-origin: top;
}
.sdw::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  background: #cfd1e1;
  z-index: 1;
}
.sdw:hover {
  pointer-events: none;
}
ion-icon {
  position: absolute;
  right: 20px;
  color: #555;
  font-size: 1.5em;
  cursor: pointer
}
